/* ----------------------------------------- */
/*                ~ MIXINS ~                 */
/* -----------------    ------------------------ */

@mixin linear-gradient($from, $to) {
    background-color: $to; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, $from 0%, $to 30%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(top, $from 0%, $to 30%); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(top, $from 0%, $to 30%); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to bottom, $from 0%, $to 30%); /* Standard syntax; must be last */
}

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

@mixin grayscale($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}