/* ----------------------------------------- */
/*               ~ COLORS ~                  */
/* ----------------------------------------- */

$colors: (
    background: #151515,
    primary: #dd0613,
    secondary: #EEEEEE,
    dark: #000,
    light: #FFF
);

/* ----------------------------------------- */
/*                ~ FONTS ~                  */
/* ----------------------------------------- */

$measure: 1.6rem;

$fonts: (
    roboto: 'Roboto Condensed',
    arial: Arial
);

$fonts-size: (
    big: 1.8rem,
    base: $measure,
    small: 1.4rem,
    smaller: 1.3rem,
    smallest: 1.2rem,
    h1 : 3rem,
    h2 : 2.5rem,
    h3 : 2rem
);