 /* ------------------------------------------------
            --- Section | Contenu du Site
---------------------------------------------------*/
main
{
    width: 1000px;
    


    //* -- Dimension & Positionnement -- 
   
    height: auto;
    float: left;
        body { 
        
         /* -- Dimension & Positionnement -- */
                         width: 100%;
                         float: left;
            //box-sizing: border-box;
           // padding: 0 1rem;
           // text-align: justify;
            font-family:  $ff-secondary;
            font-size: 1.4rem;
            color: $clr-primary ;
            }
            
              
            }

        
       
        
                    
                    
                    

