 /* ------------------------------------------------
            --- Section | Contenu du Sit
---------------------------------------------------*/

section {
    //* -- Dimension & Positionnement -- 
    width: 100%;
    height: auto;
    float: left;
    h1 {
        font-family: $ff-primary;
        text-align: center;
        font-weight: normal;
        border-bottom: .1rem dashed #000;
    }
    aside {
        /* -- Dimension & Positionnement -- */
        width: calc(100% / 2);
        float: left;
        img {
            max-width: 100%;
        }
    }
    article {
        /* -- Dimension & Positionnement -- */
        width: calc(100% / 2);
        float: left;
        box-sizing: border-box;
        padding: 0 1rem;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        p strong {
            color:$clr-primary;
        }
    }
}