h1, h2, h3 {
    font-family: map-get($fonts, roboto );
    font-weight: normal;
}

h1 {
    font-size: map-get($fonts-size, h1 );
}

h2 {
    font-size: map-get($fonts-size, h2 );
}

h3 {
    font-size: map-get($fonts-size, h3 );
}

p {
    font-family: map-get($fonts, arial );
    font-size: map-get($fonts-size, small );
}

a {
    color: map-get($colors, primary );
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}